<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Восстановление пароля на Bookberry</title>
        <link href="https://fonts.googleapis.com/css2?family=Rasa&display=swap" rel="stylesheet">
    </head>
    <body>
    <div style="box-sizing: border-box;">
        <p style="color: #00C; font-family: 'Rasa', serif; font-size: 24px">Bookberry</p>
        <form style="border: 1px solid #c6c7cc; border-radius: 5px; font: 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif; overflow: hidden; width: 240px;" action="{{host}}{{ token }}" method="post">
            <fieldset style="border: 0; margin: 0; padding: 0; padding: 20px 20px 0 20px;">
              <label style="color: #395870; display: block; font-weight: bold; margin-bottom: 20px;">
                Новый пароль<span style="color: red">*</span>
                <input type="password" name="newPassword" required style="border-radius: 5px; font: 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0;   background: #fff;
  border: 1px solid #c6c7cc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;">
              </label>
              <label style="  color: #395870;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;">
                Повторите новый пароль<span style="color: red">*</span>
                <input type="password" name="newPasswordConfirm" required style="  background: #fff;
  border: 1px solid #c6c7cc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;">
              </label>
            </fieldset>
            <fieldset style="padding: 20px 20px 0 20px;   background: #f0f0f2;
  border-top: 1px solid #c6c7cc;
  padding: 20px;">
                 <button style="background: linear-gradient(#49708f, #293f50);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  float: left;
  padding: 8px 16px;" type="submit">Отправить</button>
            </fieldset>
        </form>
        </div>
    </body>
</html>