<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Восстановление пароля на Bookberry</title>
        <link rel="stylesheet" href="{{url_for('static', path='/styles.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Rasa&display=swap" rel="stylesheet">
    </head>
    <body>
        <p style="color: #00C; font-family: 'Rasa', serif; font-size: 24px">Bookberry</p>
        <form action="{{host}}:{{port}}/api/password/reset/{{ token }}" method="post">
            <fieldset class="account-info">
              <label>
                Новый пароль<span style="color: red">*</span>
                <input type="password" name="newPassword" required>
              </label>
              <label>
                Повторите новый пароль<span style="color: red">*</span>
                <input type="password" name="newPasswordConfirm" required>
              </label>
            </fieldset>
            <fieldset class="account-action">
                 <input class="btn" type="submit" name="submit" value="Отправить">
            </fieldset>
        </form>
    </body>
</html>